<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#BarraNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="BarraNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" href="#">Visto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" href="#">Vendo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" href="#">Quero ver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" href="#">Abandonados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" href="#">Guilty Pleasure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" href="#">Favoritos</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <section class="bg-light rounded mt-2 px-3">
        <h2 class="text-muted">Top 10</h2>
        <!-- Carrossel -->
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ul class="carousel-indicators">
                <li></li>
            </ul>

            <!-- Slides -->
            <div class="pb-1">
                <img src="\assets\images\Exemplo-Poster-Filme.png" height="500px">
            </div>

            <a>
                <span></span>
            </a>

        </div>

    </section>

</div>