/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body, html {
    height: 100%;
}

body {
    background-color: rgb(50, 50, 50);
}